* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #F8F8F4;
    font-size: 1.6rem;
}

.search-sec input {
    background-image: url('./img/search.svg');
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    background-position: 5px;
}

header {
    border-bottom: 1px solid black;
}

main {
    border: 1px solid black;
}


